@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,400;0,700;1,300;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
    background-image: linear-gradient(#d99a5a, #d99a5a);
    background-size: 0 0.1em;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}

a:hover {
    background-size: 100% 0.1em;
    background-position-x: 0;
}

button {
    font-family: Poppins, sans-serif;
    font-size: max(16px, 1.2vw);
    background-color: #6960eb;
    color: white;
    font-weight: 500;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    transition: 250ms linear;
}

input {
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    background-color: #6960eb;
    color: white;
    font-weight: 500;
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    transition: 250ms linear;
}

button:hover {
    transform: translateZ(5px);
    box-shadow: 5px 5px 10px gray, -5px -5px 10px gray;
}

input {
    outline: none;
    font-family: Lobster, cursive;
    font-weight: 400;
    font-size: 15px;
    background: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;;
}

/* NavBar */
nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 2rem;
}

.icon {
    width: 10%;
    display: flex;
    align-items: center;
}

nav .icon img {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50px;
    transition: 300ms linear;
}

nav .icon img:hover {
    box-shadow:
            3px 3px 10px gray,
            3px -3px 10px gray,
            -3px 3px 10px gray,
            -3px -3px 10px gray;;
}

nav .links {
    box-sizing: border-box;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.search-button {
    margin: auto 0 auto;
}

.search-button input {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 500;
}

.search-button input:focus {
    box-shadow: 3px 3px 10px gray,
    3px -3px 10px gray,
    -3px 3px 10px gray,
    -3px -3px 10px gray;;
}

nav .links .text-links {
    width: 30%;
    display: flex;
    justify-content: center;
    column-gap: 2vw;
    align-items: center;
}

@media only screen and (max-width: 840px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav .links {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 5vw;
        flex-grow: 2;
    }

    .search-button {
        width: 10%;
    }

    .search-button input {
        width: 100%;
    }
}

/* Header */

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

header .header-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header .header-text h1 {
    font-family: 'Lobster', cursive;
    font-size: 6vw;
    font-weight: 500;
    text-align: center;
}

header .header-text h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    margin-bottom: 2rem;
}

.header-text-links {
    display: flex;
    width: 60%;
    justify-content: space-evenly;
}

header .carousal {
    width: 55%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 2rem 5rem;
}

.each-image {
    display: none;
}

.each-image img {
    object-fit: fill;
    width: 100%;
    border-radius: 20px;
}

.each-image .text {
    position: relative;
    bottom: 3rem;
    width: 100%;
    text-align: center;
    font-size: 1vw;
    backdrop-filter: blur(1rem);
}

.each-image .text a {
    color: black;
}

@media only screen and (max-width: 640px) {
    header {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 1rem;
    }

    .header-text {
        width: 100%;
        align-items: center;
    }

    header .carousal {
        width: 100%;
        padding-bottom: 0;
    }

    .carousal img {
        width: 100%;
    }

    .carousal .text {
        font-size: 12px;
    }
}

/* MainText */

.main-text {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.main-text > p {
    font-size: max(16px, 1.5vw);
}

.face-icon img {
    width: 150px;
    border-radius: 75px;
    transition: 300ms linear;
}

.face-icon img:hover {
    transform: translateZ(15px);
    box-shadow:
            5px 5px 10px gray,
            5px -5px 10px gray,
            -5px 5px 10px gray,
            -5px -5px 10px gray;
;
}

.stands-for {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
}

.values {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.values-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 2px solid black;
    border-radius: 30px;
    padding: 1rem;
    background-color: darkslategray;
}

.values-card img {
    width: 100%;
    object-fit: fill;
    height: 50%;
    border-radius: 15px;
}

.values-card p {
    color: white;
    margin-top: 1rem;
    height: max(50%);
    padding: 0 1rem;
    font-size: 1.2rem;
}

@media only screen and (max-width: 1200px) {
    .values {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
    }

    .values-card {
        width: 80%;
        flex-direction: row;
        box-sizing: border-box;
        align-items: center;
    }

    .values-card img {
        width: 20%;
        aspect-ratio: 1;
        border-radius: 50%;
    }
    
    .values-card p {
        margin-top: 0;
    }
}

/* WorkingDetails */

.working-details {
    display: flex;
    flex-direction: column;
    margin: 5rem 5rem 3rem;
}

.details-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5rem;
    align-items: center;
}

.details-card img {
    width: 150px;
    aspect-ratio: 1;
    border-radius: 30px;
}

.details-card h2 {
    font-family: Lobster, cursive;
    font-size: max(24px, 3.2vw);
    font-weight: 300;
}

/* Testimonials */

.testimonial-text {
    text-align: center;
    font-size: 4rem;
    text-shadow: 0 4px 10px gray;
}

.testimonial-text:hover {
    animation: shift-shadow 800ms ease-in-out;
}

@keyframes shift-shadow {
    0% {
        text-shadow: -10px 0 10px gray;
    }

    25% {
        text-shadow: -5px 5px 10px gray;
    }

    50% {
        text-shadow: 0 10px 10px gray;
    }

    75% {
        text-shadow: 5px 5px 10px gray;
    }

    100% {
        text-shadow: 0 4px 10px gray;
    }
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(2, 50%);
    margin: 2rem 3rem;
    gap: 1rem 1rem;
}

.testi-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem;
    text-align: center;
    background-color: cornsilk;
    border-radius: 20px;
    transition: 300ms ease-out;
    border: 1px solid black;
    justify-content: space-around;
}

.testi-card:hover {
    box-shadow: 5px 5px 10px gray;
}

.testi-card img {
    width: 100px;
    aspect-ratio: 1;
    border: 3px solid gray;
    border-radius: 50%;
    border-right: 3px solid black;
    border-left: 3px solid black;
}

.testi-card h4 {
    margin: 1rem 0;
    color: gray;
    font-size: 0.9rem;
}

.testi-card:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.testi-card:nth-of-type(3) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.testi-card:nth-of-type(4) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.testi-card:nth-of-type(5) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

@media only screen and (max-width: 1060px) {
    .testimonials {
        display: flex;
        flex-direction: column;
    }

    .testi-card {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(12, calc(100%/12));
    }

    .img-container {
        grid-column-start: 0;
        grid-column-end: 2;
        object-fit: fill;
    }

    .img-container img {
        width: 100%;
    }

    .testi-card-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1rem;
        grid-column-start: 2;
        grid-column-end: 13;
        text-align: left;
    }

    .testi-card-text h4 {
        margin: 0;

    }
}

/* SignUp */

.signup-section {
    display: flex;
    flex-direction: column;
    margin: 3rem;
    align-items: center;
    font-size: 32px;
}

.signup-section h2 {
    text-align: center;
}

/* Footer */

footer {
    padding: 1rem 2rem 1rem;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
}

.footer-text {
    text-align: center;
}

.footer-up {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    padding: 1rem 0;
}

.other-info {
    margin: auto 0 auto;
    box-sizing: border-box;
    font-size: max(10px, 0.8vw);
    text-align: center;
    padding: 1rem 3rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form form input {
    color: white;
}

/* styled_hr */

.hr-under-nav {
    display: flex;
    justify-content: center;
}

hr {
    width: 80%;
    height: 2px;
    background-color: black;
    border-radius: 10px;
}

